body {
  margin: 10px;
}

p {
  color: red;
}
#products {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}
.product {
  border: 1px solid #9a5757;
  padding: 8px;
}
a[target="_blank"] {
  color: #979451;
  text-decoration: none;
}
a[href="https://www.google.com/"]
{
  color: #518e97;
  text-decoration: none;
}
a[href*="google"] {
  color: royalblue;
  text-decoration: none;
}

a[href^="https://www."][href$="amazon.com/"]
{
  color: #780609;
  text-decoration: none;
}
#product p {
  color: #579a7e;
}
